
/* ALL LINKS WHITE*/ 

a {
    text-decoration: none;
    color: white;
}

/* ALL STANDARD TEXT*/

body {
    margin: 0;
    background:rgb(255, 253, 153);
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}
 
/* SPACING BETWEEN NAV BOXES*/

nav ul{
    float: left;
    margin-left: 22.9vw;
    margin-top: 0px;
}

/* NAV BOXES*/
 
nav ul li{
    padding: 13px;
    list-style-type: none;
    display: inline-block;
    list-style-type: none;
    background:#eedda7;
    margin-bottom: 5px;
}
 
/* BANNER TITLE TEXT*/
 
h2 a {
    color: white;
    text-decoration: none;
}
 
/* SPACE AROUND BANNER TITLE*/

.banner h2 {
    float: left;
    margin-left: 22vw;
}

/* BANNER COLOR*/

.banner {
    width: 100%;
    height: 145px;
    display: table;
    background: rgb(255, 200, 48);
    color: white;
}
 
/* ALL PICTURES*/

img {
    width: 41.2vw;
    height: auto;
}
 
/* ARTIST'S INFORMATIONAL TEXT BOXES*/

.informationleft {
    float: left;
    margin-left: 4vw;
    padding: 2%; 
    overflow: hidden; 
    background-color: #eedda7;  
    width: 40%; 
    margin-top: 11.5%;
    font-size: 110%;
    margin-bottom: -9%;
}

/* HISTORY TEXTBOX*/

.informationright {
    display: inline-block;
    margin-left: 4vw;
    padding: 2%; 
    overflow: hidden; 
    background-color: #eedda7;  
    width: 42%; 
    font-size: 110%;
    margin-bottom: -9%;
}

/* PUTS ARTIST IMAGES TO THE RIGHT*/

.right {
    margin-right: 4vw;
    margin-top: 80px;
    float: right;
}
 
/* APPEARANCE AND SPACING OF ARTIST NAMES*/

.name {
    color:#eedda7;
    margin-top: 10px;
    margin-left: 4vw;
    font-size: 2.38vw;
    vertical-align: text-bottom;
    margin-bottom: -35px;
    position: absolute;
}

/* SOLID STATE SURVIVOR SONG NAME'S PLACEMENT*/

.songs {
    padding: .1%;
    margin-top: 4%;
    margin-left: 13vw;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

/* SOLID STATE SURVIVOR SONG NAME'S APPEARANCE*/

.songs li {
    padding: 20px 62.25vw 20px 20px;
    margin-top: 80px;
    text-align:left;
    background-color: rgb(255, 200, 48);
    font-size: 25px;
    margin-left: 12vw;
    list-style-type: none;
}

/* SOLID STATE SURVIVOR ALBUM ART*/

.album {
    margin-top: 4%;
    width: 35vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* SIZE ADJUSTMENT OF PLAY BUTTON WHEN PLAYING */

.ion-pause {
   padding: .5px;
}

/* APPEARANCE OF PLAY BUTTON */

.play,.play2,.play3,.play4,.play5,.play6,.play7,.play8 {
    padding: 18px 30px 18px 30px;
    background-color: #eedda7; 
    border: 1px #eedda7; 
    margin-left: 81.4vw;
    margin-top: -78px;
    position: absolute;
    border-radius: 30%;
}