 
a {
    text-decoration: none;
    color: white;
}
 
.title {
    
    background:rgb(255, 200, 48);
    color: rgb(255, 255, 255);
    padding-top: 24%;    
    margin: 0;
    padding-left: 22%;
}
 
body {
    margin: 0;
    background:rgb(255, 253, 153);
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}
 
nav ul{
    margin: 0;
    padding-left: 25%;
}
 
nav ul li{
    padding: 13px;
    list-style-type: none;
    display: inline-block;
    list-style-type: none;
    background:#eedda7;
}
 
/// CSS FOR EVERYTHING ELSE
 
h2 a {
    color: white;
    text-decoration: none;
}
 
.banner {
    width: 100%;
    height: 145px;
    display: table;
    background: rgb(255, 200, 48);
    color: white;
}
 
.banner h2 {
    padding-left: 22%;
}
 
img {
    width: 41.2vw;
    height: auto;
    display: block;
}

.album {
    margin-top: 4%;
    width: 35vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
 
.informationleft {
    float: left;
    margin-left: 80px;
    padding: 2%; 
    overflow: hidden; 
    background-color: #eedda7;  
    width: 40%; 
    margin-top: 11.5%;
    font-size: 110%;
    margin-bottom: -9%;
}

.informationcenter {
    float: center;
    margin-left: 80px;
    padding: 2%; 
    overflow: hidden; 
    background-color: #eedda7;  
    width: 40%; 
    margin-top: 12%;
    font-size: 110%;
}

broken ///////////

.informationright {
    float: right;
    padding: 2%; 
    overflow: hidden; 
    background-color: #eedda7;  
    width: 40%; 
    margin-top: 12%;
    font-size: 110%;
}
 
h1 {
    color:#eedda7; 
}

h2 {
    color:#eedda7; 
}
 
.right {
    margin-right: 78px;
    margin-top: 80px;
    float: right;
}

.center {
    margin-left: 25%;
    position: absolute;
}
 
.nameold {
    margin-top: 70px;
    margin-left: 75px;
    font-size: 320%;
}

.name {
    margin-top: 10px;
    margin-left: 75px;
    font-size: 2.42vw;
    vertical-align: text-bottom;
    margin-bottom: -35px;
    position: absolute;
}

.songs {
    padding: .1%;
    margin-top: 4%;
    margin-left: 13vw;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.songs li {
    padding: 20px;
    margin-top: 80px;
    background-color: rgb(255, 200, 48);
    font-size: 25px;
    margin-left: 12vw;
    list-style-type: none;
}



